Repository hrbrain/eslint-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npx sort-package-json

chore: remove unused rules
  README.md
  docs/rules/README.md
  docs/rules/force-filename-pattern.md
  docs/rules/prefer-function-component-type.md
  lib/configs/README.md
  lib/configs/recommended.ts
  lib/rules.ts
  lib/rules/force-filename-pattern.ts
  lib/rules/prefer-function-component-type.ts
  lib/util/index.ts
  lib/util/isFunctionComponentType.ts
  tests/lib/rules/force-filename-pattern.spec.ts
  tests/lib/rules/prefer-function-component-type.spec.ts
  tests/lib/util/isFunctionComponentType.spec.ts
Due: prettier --write, eslint --fix

build: add support node version
  package.json
Due: npx sort-package-json

chore: remove unused rules (#1)
  README.md
  docs/rules/README.md
  docs/rules/force-filename-pattern.md
  docs/rules/prefer-function-component-type.md
  lib/configs/README.md
  lib/configs/recommended.ts
  lib/rules.ts
  lib/rules/force-filename-pattern.ts
  lib/rules/prefer-function-component-type.ts
  lib/util/index.ts
  lib/util/isFunctionComponentType.ts
  package.json
  tests/lib/rules/force-filename-pattern.spec.ts
  tests/lib/rules/prefer-function-component-type.spec.ts
  tests/lib/util/isFunctionComponentType.spec.ts
Due: prettier --write, eslint --fix, npx sort-package-json

chore: add issue template
  .github/ISSUE_TEMPLATE/others.md
  .github/ISSUE_TEMPLATE/rule-proposal.md
Due: prettier --write

chore: add issue template (#2)
  .github/ISSUE_TEMPLATE/others.md
  .github/ISSUE_TEMPLATE/rule-proposal.md
Due: prettier --write

feat(use-name-space-import): add use-name-space-import rule
  .gitignore
  _hygen/generate/rule/rule.ejs.t
  _hygen/generate/sandbox/eslintrc.ejs.t
  docs/rules/README.md
  docs/rules/use-name-space-import.md
  lib/configs/recommended.ts
  lib/rules/use-name-space-import.ts
  package.json
  sandbox/.gitkeep
  tests/lib/rules/use-name-space-import.spec.ts
Due: prettier --write, eslint --fix, npx sort-package-json

feat: fix add ;, update test, fix docs
  docs/rules/README.md
  docs/rules/use-name-space-import.md
  lib/rules/use-name-space-import.ts
  tests/lib/rules/use-name-space-import.spec.ts
Due: prettier --write, eslint --fix

feat(use-name-space-import): add use-name-space-import rule (#3)
  .gitignore
  _hygen/generate/rule/rule.ejs.t
  _hygen/generate/sandbox/eslintrc.ejs.t
  docs/rules/use-name-space-import.md
  lib/configs/recommended.ts
  lib/rules/use-name-space-import.ts
  package.json
  sandbox/.gitkeep
  tests/lib/rules/use-name-space-import.spec.ts
Due: prettier --write, eslint --fix, npx sort-package-json

feat(no-use-function-component-type-without-children): add rule
  docs/rules/README.md
  docs/rules/no-use-function-component-type-without-children.md
  lib/rules.ts
  lib/rules/no-use-function-component-type-without-children.ts
  lib/util/index.ts
  lib/util/isFunctionComponentType.ts
  tests/lib/rules/no-use-function-component-type-without-children.spec.ts
  tests/lib/util/isFunctionComponentType.spec.ts
Due: prettier --write, eslint --fix

feat(no-use-function-component-type-without-children): add rule (#4)
  docs/rules/README.md
  docs/rules/no-use-function-component-type-without-children.md
  lib/rules.ts
  lib/rules/no-use-function-component-type-without-children.ts
  lib/util/index.ts
  lib/util/isFunctionComponentType.ts
  tests/lib/rules/no-use-function-component-type-without-children.spec.ts
  tests/lib/util/isFunctionComponentType.spec.ts
Due: prettier --write, eslint --fix

feat: fix add rule to config
  lib/configs/recommended.ts
Due: eslint --fix

feat: fix add rule to config (#5)
  lib/configs/recommended.ts
Due: eslint --fix

feat(no-multiple-named-imports): add no-multiple-named-imports rule
  docs/rules/README.md
  docs/rules/no-multiple-named-imports.md
  lib/configs/recommended.ts
  lib/rules.ts
  lib/rules/no-multiple-named-imports.ts
  tests/lib/rules/no-multiple-named-imports.spec.ts
Due: prettier --write, eslint --fix

feat(no-multiple-named-imports): add no-multiple-named-imports rule (#6)
  docs/rules/README.md
  docs/rules/no-multiple-named-imports.md
  lib/configs/recommended.ts
  lib/rules.ts
  lib/rules/no-multiple-named-imports.ts
  tests/lib/rules/no-multiple-named-imports.spec.ts
Due: prettier --write, eslint --fix

docs: fix no-use-function-component-type-without-children pattern
  docs/rules/no-use-function-component-type-without-children.md
Due: prettier --write

docs: fix no-use-function-component-type-without-children pattern (#7)
  docs/rules/no-use-function-component-type-without-children.md
Due: prettier --write

chore: change license MIT to Apache-2.0
  LICENSE
  README.md
  package.json
Due: prettier --write, npx sort-package-json

chore: change license MIT to Apache-2.0 (#8)
  LICENSE
  README.md
  package.json
Due: prettier --write, npx sort-package-json

docs: add example
  README.md
Due: prettier --write

docs: add example (#9)
  README.md
Due: prettier --write

build: use shipjs
  .github/workflows/release.yml
  package.json
  ship.config.js
  yarn.lock
Due: eslint --fix, npx sort-package-json

build: use shipjs (#10)
  .github/workflows/release.yml
  package.json
  ship.config.js
  yarn.lock
Due: eslint --fix, npx sort-package-json

chore: release v0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

chore: release v0.1.0 (#11)
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

docs: add npm badge
  README.md
Due: prettier --write

fix: fix publish target file
  package.json
Due: npx sort-package-json

docs: add npm badge (#13)
  README.md
Due: prettier --write

fix: fix publish target file (#12)
  package.json
Due: npx sort-package-json

chore: release v0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

chore: release v0.1.1 (#14)
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

fix: consider pattern that not exist specifiers
  lib/rules/use-name-space-import.ts
  tests/lib/rules/use-name-space-import.spec.ts
Due: eslint --fix

fix: consider pattern that not exist specifiers (#15)
  lib/rules/use-name-space-import.ts
  tests/lib/rules/use-name-space-import.spec.ts
Due: eslint --fix

chore: release v0.1.2
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

chore: release v0.1.2 (#16)
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

feat(use-name-space-import): remove fixable option
  docs/rules/use-name-space-import.md
  lib/rules/use-name-space-import.ts
  tests/lib/rules/use-name-space-import.spec.ts
Due: prettier --write, eslint --fix

docs: run update
  docs/rules/README.md
Due: prettier --write

feat(no-multiple-named-imports): only check member that has type ImportSpecifier
  docs/rules/no-multiple-named-imports.md
  lib/rules/no-multiple-named-imports.ts
  tests/lib/rules/no-multiple-named-imports.spec.ts
Due: prettier --write, eslint --fix

feat(use-name-space-import): remove fixable option (#19)
  docs/rules/README.md
  docs/rules/use-name-space-import.md
  lib/rules/use-name-space-import.ts
  tests/lib/rules/use-name-space-import.spec.ts
Due: prettier --write, eslint --fix

docs: update example
  docs/rules/no-multiple-named-imports.md
Due: prettier --write

feat(no-multiple-named-imports): only check member that has type ImportSpecifier (#22)
  docs/rules/no-multiple-named-imports.md
  lib/rules/no-multiple-named-imports.ts
  tests/lib/rules/no-multiple-named-imports.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.md
  eslint --fix: any of: *.{js,ts}
  npx sort-package-json: any of: package.json
