Repository hrbrain/eslint-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npx sort-package-json

feat(use-name-space-import): add option allowDefaultImport
  docs/rules/use-name-space-import.md
  lib/rules/use-name-space-import.ts
  tests/lib/rules/use-name-space-import.spec.ts
Due: prettier --write, eslint --fix

feat(use-name-space-import): add option allowDefaultImport (#23)
  docs/rules/use-name-space-import.md
  lib/rules/use-name-space-import.ts
  tests/lib/rules/use-name-space-import.spec.ts
Due: prettier --write, eslint --fix

chore: release v0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

chore: release v0.2.0 (#24)
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

feat(prefer-parameter-instance-way): add prefer-parameter-instance-way rule
  _hygen/generate/rule/rule.ejs.t
  docs/rules/prefer-parameter-instance-way.md
  lib/rules/prefer-parameter-instance-way.ts
  tests/lib/rules/prefer-parameter-instance-way.spec.ts
Due: prettier --write, eslint --fix

feat: add option allowKeywords
  docs/rules/prefer-parameter-instance-way.md
  lib/rules/prefer-parameter-instance-way.ts
  lib/util/index.ts
  lib/util/keywords.ts
  tests/lib/rules/prefer-parameter-instance-way.spec.ts
Due: prettier --write, eslint --fix

chore: run update
  docs/rules/README.md
  lib/rules.ts
Due: prettier --write, eslint --fix

docs: update docs
  docs/rules/prefer-parameter-instance-way.md
Due: prettier --write

feat: rename
  docs/rules/README.md
  docs/rules/prefer-parameter-instance.md
  lib/rules.ts
  lib/rules/prefer-parameter-instance.ts
  tests/lib/rules/prefer-parameter-instance.spec.ts
Due: prettier --write, eslint --fix

feat(prefer-parameter-instance) add prefer parameter instance rule (#27)
  _hygen/generate/rule/rule.ejs.t
  docs/rules/README.md
  docs/rules/prefer-parameter-instance.md
  lib/rules.ts
  lib/rules/prefer-parameter-instance.ts
  lib/util/index.ts
  lib/util/keywords.ts
  tests/lib/rules/prefer-parameter-instance.spec.ts
Due: prettier --write, eslint --fix

feat(use-name-space-import): support minimatch at allowNotNameSpaceImportModules option
  docs/rules/use-name-space-import.md
  lib/rules/use-name-space-import.ts
  package.json
  tests/lib/rules/use-name-space-import.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

docs: more easy to understand example that using minimatch
  docs/rules/use-name-space-import.md
  tests/lib/rules/use-name-space-import.spec.ts
Due: prettier --write, eslint --fix

feat(use-name-space-import): support minimatch at allowNotNameSpaceImportModules option (#28)
  docs/rules/use-name-space-import.md
  lib/rules/use-name-space-import.ts
  package.json
  tests/lib/rules/use-name-space-import.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix, npx sort-package-json

chore: release v0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

docs: update changelog
  CHANGELOG.md
Due: prettier --write

chore: release v0.3.0 (#29)
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

ci(dependabot): add dependabot config
  .dependabot/config.yml
Due: none

ci(dependabot): add dependabot config (#35)
  .dependabot/config.yml
Due: none

chore: release v0.3.1
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

chore: release v0.3.1 (#37)
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

ci: add steps to publish package to GitHub Packages
  .github/workflows/release.yml
Due: none

ci: use yarn instead of npm
  .github/workflows/release.yml
Due: none

Publish package to GitHub Packages (#112)
  .github/workflows/release.yml
Due: none

docs: add release section
  README.md
Due: prettier --write

docs: add release section (#114)
  README.md
Due: prettier --write

chore: release v0.3.2
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

chore: release v0.3.2 (#115)
  CHANGELOG.md
  package.json
Due: prettier --write, npx sort-package-json

chore: change registry
  .github/workflows/prepare.yaml
  .github/workflows/release.yml
  package.json
  ship.config.js
  yarn.lock
Due: eslint --fix, npx sort-package-json

ci: fix ref branch name
  .github/workflows/release.yml
Due: none

docs: add some docs
  CONTRIBUTING.md
  MAINTAINER.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.md
  eslint --fix: any of: *.{js,ts}
  npx sort-package-json: any of: package.json
